// SimpleCom.rc
// resource script for the SimpleCom object

#include <windows.h>
#include "resource.h"

1 typelib mylib.tlb

#define VER_FILEVERSION             1,0,0,1
#define VER_FILEVERSION_STR         "1.0.0.1\0"

#define VER_PRODUCTVERSION          1,0
#define VER_PRODUCTVERSION_STR      "1.0\0"

#ifndef DEBUG
#define VER_DEBUG                   0
#else
#define VER_DEBUG                   VS_FF_DEBUG
#endif

VS_VERSION_INFO VERSIONINFO
FILEVERSION    	VER_FILEVERSION
PRODUCTVERSION 	VER_PRODUCTVERSION
FILEFLAGSMASK  	VS_FFI_FILEFLAGSMASK
FILEFLAGS		VER_DEBUG
FILEOS         	VOS__WINDOWS32
FILETYPE       	VFT_DLL
FILESUBTYPE    	VFT2_UNKNOWN
BEGIN
	BLOCK "StringFileInfo"
	BEGIN
		BLOCK "040904E4"
		BEGIN
			VALUE "CompanyName", "Sciencetech-Inc"
			VALUE "FileDescription", "Reading AD board"
			VALUE "FileVersion", VER_FILEVERSION_STR
			VALUE "InternalName", "SciReadCBDac"
			VALUE "OriginalFilename", "SciReadCBDac.dll"
			VALUE "ProductName", "SciSpec"
			VALUE "ProductVersion", VER_PRODUCTVERSION_STR
		END
	END

	BLOCK "VarFileInfo"
	BEGIN
/* The following line should only be modified for localized versions.     */
/* It consists of any number of WORD,WORD pairs, with each pair           */
/* describing a language,codepage combination supported by the file.      */
/*                                                                        */
/* For example, a file might have values "0x409,1252" indicating that it  */
/* supports English language (0x409) in the Windows ANSI codepage (1252). */

		VALUE "Translation", 0x409, 1252

	END
END


IDD_DIALOGThreadMonitor DIALOGEX 0, 0, 0, 0
STYLE WS_EX_TOOLWINDOW
BEGIN
END

IDD_DialogRunCBDac DIALOGEX 0, 0, 300, 210
STYLE WS_POPUP | WS_CAPTION | WS_SYSMENU | WS_THICKFRAME
CAPTION "AD Setup"
FONT 10, "MS Shell Dlg"
BEGIN
	CHECKBOX		"Initialized", IDC_CHKINITIALIZED, 7, 7, 60, 12
	CHECKBOX		"Acquisition On", IDC_CHKINTEGRATIONON, 67, 7, 70, 12
	LTEXT			"AD Range", IDC_STATIC, 7, 24, 35, 8
	CONTROL			"", IDC_UPDADRANGE, "msctls_updown32", 0, 42, 22, 12, 12
	LTEXT			"Min", IDC_STATIC, 7, 54, 30, 8				//39, 30, 8
	EDITTEXT		IDC_EDITMINVOLTAGE, 37, 52, 40, 12						//37, 40, 12
	LTEXT			"Max", IDC_STATIC, 7, 39, 30, 8
	EDITTEXT		IDC_EDITMAXVOLTAGE, 37, 37, 40, 12

	GROUPBOX		"Acqusition Type", IDC_STATIC, 7, 69, 80, 50
	CHECKBOX		"Signal Integration", IDC_CHKSIGNALINTEGRATION, 12, 79, 60, 12
	LTEXT			"Int Time(ms)", IDC_STATIC, 12, 91, 40, 8
	EDITTEXT		IDC_EDITINTEGRATIONTIME, 52, 89, 30, 12
	CHECKBOX		"Single Readings", IDC_CHKSINGLEREADINGS, 12, 101, 60, 12

	GROUPBOX		"Auto Time Constant", IDC_STATIC, 7, 124, 80, 45
	CHECKBOX		"Selected", IDC_CHKSELECTEDAUTOTIMECONSTANT, 12, 134, 60, 12
	PUSHBUTTON		"Setup", IDC_SETUPAUTOTIMECONSTANT, 12, 149, 30, 12
	PUSHBUTTON		"Test", IDC_TESTAUTOTIMECONSTANT, 50, 149, 30, 12

	LTEXT			"Channel", IDC_STATIC, 7, 179, 30, 8
	EDITTEXT		IDC_EDITCHANNEL, 37, 177, 20, 12

	LTEXT			"Wavelength, nm", IDC_STATIC, 7, 192, 50, 8
	EDITTEXT		IDC_EDITWAVELENGTH, 57, 190, 35, 12

	PUSHBUTTON		"Remove First Half", IDC_REMOVEFIRSTHALF, 95, 17, 60, 12
	LTEXT			"", IDC_STATUS, 195, 17, 97, 12, SS_NOTIFY, WS_EX_CLIENTEDGE

	LTEXT			"", IDC_PLOT, 95, 29, 197, 174, SS_NOTIFY, WS_EX_CLIENTEDGE
END